body {
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #0a0909;

}
th {
    background-color: #ff1616;
    color: #fff;
}
.header {
    margin-top: 0px;
    margin-bottom: 20px;
    background: #000;
    padding: 20px;
    }

    
.logoout button {
    background: #ff1616;
    border: 0;
    border-radius: 5px;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 500;
    color: #ffff;
    margin-left: 80%;
    }
 
    .bg_new .row {
        align-items: center;
        }
        .backto{
    text-decoration: none;
    color: #fff;
}
.table-fill td{
    /* background-color: #f5f5f5; */
    border: 1px solid #000;
}